#toolbar {
  margin: 0; padding: 0;
  
  > .btn-group {
    padding-bottom: 0;
  }
  
  .dropdown-menu > li {
    position: relative;
    
    a.coffee {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      
      img {
        width: 18px;
        height: 18px;
      }
      
      padding: 3px;
      margin: 0 12px;
    }
  }
  
  .select2-container {
    font-size: 13px;
  }
}
