section#browse(ng-controller="GalleryController")
  div.page-header
    ul.pagination.pull-right
      li(ng-show="plunks.pager.prev")
        a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.prev)") «
      li(ng-show="plunks.pager.next")
        a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.next)") »
    ul.nav.nav-pills
      li
        a(href="/plunks/popular") Trending
      li
        a(href="/plunks/popular") Popular
      li.active
        a(href="/plunks/recent") Recent
      
  div.row
    div.span12
      ul#gallery.thumbnails.cards
        <card model="plunk" ng-repeat="plunk in plunks"></card>
      ul.pager
        li.previous(ng-show="plunks.pager.prev")
          a(ng-href="", ng-click="pageTo(plunks.pager.prev)") &larr; Newer
        li.next(ng-show="plunks.pager.next")
          a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.next)") Older  &rarr;
