section#user
  div.row(ng-controller="UserPlunksController")
    div.span6.gallery
      div.page-header
        div.pagination.pull-right
          ul
            li(ng-show="plunks.pager.prev")
              a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.prev)") «
            li(ng-show="plunks.pager.next")
              a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.next)") »
        ul.nav.nav-pills
          li(ng-repeat="filter in filters", ng-class="{active: ranking==filter}")
            a(ng-href="{{filter.path}}", ng-click="applyRanking(filter)") {{filter.title}}
        
      ul#gallery.thumbnails.cards
        <card model="plunk" ng-repeat="plunk in plunks"></card>
      ul.pager
        li.previous(ng-show="plunks.pager.prev")
          a(ng-href="", ng-click="pageTo(plunks.pager.prev)") &larr; Newer
        li.next(ng-show="plunks.pager.next")
          a(ng-href="javascript:void(0)", ng-click="pageTo(plunks.pager.next)") Older  &rarr;
    div.span6.user
     div.page-header
      h1 User: 
        small(ng-bind="username")
     
     div.row
        div.thumbnail.span2
          img.gravatar-big(ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}?s=200&d=mm")



      