!!! 5
html(ng-app="plunker.landing")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker
    block styles
      != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      script(src="/js/vendor/ace/ace.js") // Ace needs to be 
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      != js("pages/editor")

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand(href="/") Plunker
          span.version v#{package.version}

        <userpanel></userpanel>
        
        div#actionbar.pull-right

    div#editor(plunker-layout)
      div.ui-layout-center
        div.editor-canvas(plunker-ace)
      div.ui-layout-east
        
      div.ui-layout-west

