!!! 5
html(ng-app="plunker.editor")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker
    block styles
      != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      script(src="/js/vendor/ace/ace.js") // Ace needs to be 
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      != js("pages/editor")

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand(href="/") Plunker
          span.version v#{package.version}

        <userpanel></userpanel>
        
        div#actionbar.pull-right

    div#editor(plunker-layout,ng-controller="editor")
      div.ui-layout-center
        <plunker-ace class="editor-canvas"></plunker-ace>
        div.editor-status
          div.navbar.navbar-fixed-bottom
            div.navbar-inner
              ul.nav
                li.dropdown
                  a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown") {{history.last().filename}}
                    b.caret
        
                  ul#editor-file-list.dropdown-menu
                    li.file-add
                      a(href="javascript:void(0)", ng-click="scratch.promptFileAdd()") Add file...
                    li.divider
                    li.file(ng-repeat="(filename, file) in scratch.files",ng-class="{active:file==history.last()}")
                      a.buffer(ng-click="history.activate(file)", ng-dblclick="scratch.promptFileRename(filename)") {{file.filename}}
                      ul.file-ops
                        li.delete
                          button.btn.btn-mini(ng-click="scratch.promptFileRemove(filename)"): i.icon-remove
                li.divider-vertical
      div.ui-layout-east(plunker-previewer)
      div.ui-layout-west
        div.plnk-sidebar
          ul.nav.nav-list
            li.nav-header Files
              button.file-add(ng-click="scratch.promptFileAdd()")
                i.icon-plus
                | New...
          ul.nav.nav-list(ng-repeat="(filename, file) in scratch.files")
            li.file(ng-class="{active:file==history.last()}")
              a(ng-click="history.activate(file)", ng-dblclick="scratch.promptFileRename(filename)") {{file.filename}}
              ul.file-ops
                li.delete
                  button.btn.btn-mini(ng-click="scratch.promptFileRemove(filename)"): i.icon-remove
        
