!!! 5
html(ng-app="plunker.editor")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href="/edit/")
    block title
      title Plunker
    block styles
      != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      script(src="/js/vendor/ace/ace.js")
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      != js("pages/editor")
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28928507-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body(ng-controller="editor")
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand(href="{{url.www}}") Plunker
          span.version v#{package.version}

        <userpanel></userpanel>
        
        div#toolbar.btn-toolbar
          .btn-group
            button.btn.btn-primary(ng-click="save()", title="{{saveTitle}}")
              i(ng-class="saveIcon")
              |  {{saveText}}
          .btn-group(ng-show="plunk.token")
            button.btn.btn-danger(ng-click="destroy()", title="Delete the current plunk")
              i.icon-trash
          .btn-group
            a.btn.btn-success(href="/edit/", title="Start a new plunk from a blank slate")
              i.icon-file
              |  New
            button.btn.btn-success.dropdown-toggle(data-toggle="dropdown"): span.caret
            ul.dropdown-menu
              li: a(href="/edit/gist:1986619") jQuery
                a.coffee(href="/edit/gist:1992850"): img(src="/img/coffeescript-logo-small_med.png")
              li: a(href="/edit/gist:1986619") jQuery UI
              li.divider
              li: a(href="/edit/gist:2246015") AngularJS
                a.coffee(href="/edit/gist:3189582"): img(src="/img/coffeescript-logo-small_med.png")
              li.divider
              li: a(href="/edit/gist:2016721") Bootstrap
                a.coffee(href="/edit/gist:2016721"): img(src="/img/coffeescript-logo-small_med.png")
              li.divider
              li: a(href="/edit/gist:2050713") Backbone.js
                a.coffee(href="/edit/gist:2050746"): img(src="/img/coffeescript-logo-small_med.png")
              li.divider
              li: a(href="/edit/gist:1990582") YUI
              li.divider
              li: div(ng-click="builder.launch()",title="Launch the Plunk builder (coming soon...)")
                i.icon-beaker
                | Launch builder...

    div#editor(plunker-layout, ng-class="{loading:loading}")
      div.plnk-overlay
      div.ui-layout-center
        <plunker-ace class="editor-canvas"></plunker-ace>
        div.editor-status
          div.navbar.navbar-fixed-bottom
            div.navbar-inner
              ul.nav
                li.dropdown
                  a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown") {{history.last().filename}}
                    b.caret
        
                  ul#editor-file-list.dropdown-menu
                    li.file-add
                      a(href="javascript:void(0)", ng-click="promptFileAdd()") Add file...
                    li.divider
                    li.file(ng-repeat="(filename, file) in validFiles(plunk.files)",ng-class="{active:file==history.last()}")
                      a.buffer(href="javascript:void(0)", ng-click="history.activate(file)", ng-dblclick="promptFileRename(filename)") {{file.filename}}
                      ul.file-ops
                        li.delete
                          button.btn.btn-mini(ng-click="promptFileRemove(filename)"): i.icon-remove
                li.divider-vertical
      div.ui-layout-east
        div.plnk-previewer(plunker-previewer)
          #preview-ops
            .btn-toolbar
              .btn-group
                button#refresh-preview.btn.btn-mini.btn-success(ng-click="refreshPreview()")
                  i.icon-refresh.icon-white
      div.ui-layout-west
        div.plnk-sidebar
          details.file-list(open)
            summary.header Files
              button.file-add(ng-click="promptFileAdd()")
                i.icon-plus
                | New...
            ul.nav.nav-list(ng-repeat="(filename, file) in validFiles(plunk.files)")
              li.file(ng-class="{active:file==history.last()}")
                a(href="javascript:void(0)", ng-click="history.activate(file)", ng-dblclick="promptFileRename(filename)") {{file.filename}}
                ul.file-ops
                  li.delete
                    button.btn.btn-mini(ng-click="promptFileRemove(filename)"): i.icon-remove
          details.information(open)
            summary.header Information
            textarea.description(ng-model="plunk.description")
            // input.tags(ng-model="plunk.tags")
            div.user(ng-show="plunk.user")
              img.gravatar(ng-src="http://www.gravatar.com/avatar/{{plunk.user.gravatar_id}}?s=18&d=mm")
              span.login {{plunk.user.login}}
        
