!!! 5
html(ng-app="plunker.editor")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href="/edit/")
    block title
      title Plunker
    block styles
      != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      script(src="/js/vendor/ace/ace.js") // Ace needs to be 
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      != js("pages/editor")

  body(ng-controller="editor")
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        a.brand(href="{{url.www}}") Plunker
          span.version v#{package.version}

        <userpanel></userpanel>
        
        div#toolbar.btn-toolbar
          .btn-group
            button.btn.btn-primary(ng-click="save()")
              i.icon-save
              |  Save
          .btn-group
            button.btn.btn-success(ng-click="builder.launch()",title="Launch the Plunk builder (coming soon...)")
              i.icon-beaker
              |  Build
            button.btn.btn-success.dropdown-toggle(data-toggle="dropdown"): span.caret
            ul.dropdown-menu
              li: a(href="/edit/") Basic snippet
              li.divider
              li: a(href="/edit/gist:1986619") jQuery
                a.alt(href="/edit/gist:1992850") (.coffee)
              li: a(href="/edit/gist:1986619") jQuery UI
              li.divider
              li: a(href="/edit/gist:2246015") AngularJS

    div#editor(plunker-layout, ng-class="{loading:loading}")
      div.plnk-overlay
      div.ui-layout-center
        <plunker-ace class="editor-canvas"></plunker-ace>
        div.editor-status
          div.navbar.navbar-fixed-bottom
            div.navbar-inner
              ul.nav
                li.dropdown
                  a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown") {{history.last().filename}}
                    b.caret
        
                  ul#editor-file-list.dropdown-menu
                    li.file-add
                      a(href="javascript:void(0)", ng-click="promptFileAdd()") Add file...
                    li.divider
                    li.file(ng-repeat="(filename, file) in plunk.files",ng-class="{active:file==history.last()}")
                      a.buffer(href="javascript:void(0)", ng-click="history.activate(file)", ng-dblclick="promptFileRename(filename)") {{file.filename}}
                      ul.file-ops
                        li.delete
                          button.btn.btn-mini(ng-click="promptFileRemove(filename)"): i.icon-remove
                li.divider-vertical
      div.ui-layout-east(plunker-previewer)
        #preview-ops
          .btn-toolbar
            .btn-group
              button#refresh-preview.btn.btn-mini.btn-success(ng-click="refreshPreview()")
                i.icon-refresh.icon-white
      div.ui-layout-west
        div.plnk-sidebar
          ul.nav.nav-list
            li.nav-header Files
              button.file-add(ng-click="promptFileAdd()")
                i.icon-plus
                | New...
          ul.nav.nav-list(ng-repeat="(filename, file) in plunk.files")
            li.file(ng-class="{active:file==history.last()}")
              a(href="javascript:void(0)", ng-click="history.activate(file)", ng-dblclick="promptFileRename(filename)") {{file.filename}}
              ul.file-ops
                li.delete
                  button.btn.btn-mini(ng-click="promptFileRemove(filename)"): i.icon-remove
        
