!!! 5
html(ng-app="plunker.landing")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker
    block styles
      != css("pages/landing")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="http://static.firebase.com/v0/firebase.js")
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      != js("pages/landing")

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          <userpanel></userpanel>

          div.nav-collapse
            ul#navbar.nav

    div#container.container
      block content

        section#marketing
          div.marketing
            h1 Plunker lets you edit, fork and preview web snippets online
            p.marketing-byline
              | Try it out. Take any gist url and pop it in the box below.
              | Alternatively, try out the&nbsp;
              a(href="/edit") Editor
              | &nbsp;or join the live&nbsp;
              a(href="/edit?stream=stream&live=compile") Discussion
              | .

        section#importer-section
          div#importer.well(ng-controller="ImporterController")
            form.import-form
              input.import-source(type="text",placeholder="Gist ID or URL",ng-model="value")
              input.import-submit.btn.btn-large.btn-primary(type="submit", value="Import")
              p.help-text.
                Enter a gist id or url in the box above and hit Import. Plunker will
                attempt to create a plunk from the source given. You will be
                taken to the preview if the import succeeds.


        section#browse
          div.page-header
            h1 Recent plunks
          div.row
            div.span12
              ul#gallery.thumbnails(ng-controller="GalleryController")
                <card ng-repeat="plunk in plunks"></card>
      hr
      footer
        p Built by <a href="https://github.com/ggoodman">Geoff Goodman</a> (<a href="http://twitter.com/g_goodman">@g_goodman</a>)
        p &copy; Filearts (2012) (<a href="http://twitter.com/filearts">@filearts</a>)
