!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker
    block styles
      != css("landing")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      != js("landing")
      script(src="#{url.api}/session?callback=plunker.session.start&sessid=#{sessid}")
      script
        plunker.router.map(!{JSON.stringify(url)});

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          div#userpanel.pull-right
            div.btn-group
              button.btn.dropdown-toggle(data-toggle="dropdown")
                i.icon-user
                span.text Sign in
                span.caret
              ul.dropdown-menu
                li
                  a.github(href="/auth/github")
                    i.icon-github-sign
                    span Github

          div.nav-collapse
            ul.nav
              li.active: a(href="/")
                i.icon-home
                | Home
    div.container
      block content
        section.row
          div.span12
            h2 Gallary of recent plunks
          div.span12
            ul#gallery.thumbnails
      hr
      footer
        p Built by <a href="https://github.com/ggoodman">Geoff Goodman</a> (<a href="http://twitter.com/g_goodman">@g_goodman</a>)
        p &copy; Filearts (2012) (<a href="http://twitter.com/filearts">@filearts</a>)
