!!! 5
html(ng-app="plunker.landing")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    block title
      title Plunker
    block styles
      != css("pages/landing")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    block scripts
      script(src="https://static.firebase.com/v0/firebase.js")
      script
        var _plunker = {
          "url": !{JSON.stringify(url).replace(/<\//g,"<\\/")},
          "session": !{JSON.stringify(session).replace(/<\//g,"<\\/")}
        };
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js")
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js")
      != js("pages/landing")
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28928507-1']);
        _gaq.push(['_setDomainName', 'plnkr.co']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.brand(href="/") Plunker
            span.version v#{package.version}

          <userpanel></userpanel>

          div.nav-collapse
            ul#navbar.nav
              li(ng-class="{active:section=='home'}")
                a(href="/")
                  i.icon-home
                  | Home
              li(ng-class="{active:section=='editor'}")
                a(href="/edit/", target="_self")
                  i.icon-edit
                  | Editor
              li(ng-class="{active:section=='browse'}")
                a(href="/")
                  i.icon-th
                  | Browse
              li(ng-class="{active:section=='discuss'}")
                a(href="/discuss")
                  i.icon-comments-alt
                  | Discuss

    div#container.container
      div(ng-view)
      footer
        hr
        p Built by <a href="https://github.com/ggoodman">Geoff Goodman</a> (<a href="http://twitter.com/g_goodman">@g_goodman</a>)
        p &copy; Filearts (2012) (<a href="http://twitter.com/filearts">@filearts</a>)
